.bghome {

    background-image: url("../images/home_image.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body bghome {

    background-image: url("../images/home_image.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.manageusersprofilepicture {
    height: 25px;
    width: 25px;
}
.manageusersid {
    width: 10px;
}