html,body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
}
main{
    flex: 1 0 auto;
}
.filler {
    margin: 0;
    height: 100%;
    min-height: 100vh;
}
.bghome {

    background-image: url("../images/home_image.png");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centered_top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 18px;
}
.centered_bottom {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 18px;
}
.centered_bottom_text {
    font-size: 1em;
}
footer {
    background-color: black;
    color: white;
    padding: 5px;
}
.footer {
    flex-shrink: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0px 0px 0px 0px;
}
.article_title {
    text-align: center;
}
.article_content {
    text-align: center;
    padding: 0 15% 0 15%;
}
.article_info {
    text-align: center;
}
.page_title {
    text-align: center;
}
.centered_text {
     text-align: center;
}
.not_found {
    font-family: 'Noto Sans', sans-serif;
}
.not_found h1{
    margin: 0;
    font-size: 5em;
}
.not_found h2{
    margin: 0;
    font-size: 1em;
}
.pageselector {
    margin: 1px;
    padding: 10px 10px 10px 10px;
}
.centered_block {
    margin: auto;
}
.hidden_block {
    display: none;
}
.navigation_arrows {
    font-size: 2em;
    text-decoration: none;
    color: black;
}
.disabled_navigation_arrows{
    font-size: 2em;
    text-decoration: none;
    color: darkgrey;
}
.mobile_hidden {
    display: none;
}
.footer_image {
    border-radius: 100%;
    padding: 2px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    height: 6vh;
    width: 6vh;
}
.calendar {
    padding: 1vh 1vh 1vh 1vh;
}
@media screen and (min-width: 970px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .onecolumn {
        grid-column: 1;
    }

    .twocolumns {
        grid-column: 1 / 3;
    }
    .threecolumns {
        grid-column: 1 / 4;
    }
    .firstcolumn {

    }
    .secondcolumn {
        grid-column: 2;
    }
    .thirdcolumn {
        grid-column: 3;
    }
    .onerow {

    }
    .tworows {

    }
    .threerows {
        grid-row: 1/4;
    }
    .not_found h1{
        margin: 0;
        font-size: 10em;
    }
    .not_found h2{
        margin: 0;
        font-size: 2em;
    }
    .mobile_hidden {
        display: block;
    }
    .centered_bottom_text {
        font-size: h3;
    }
    .calendar {
        margin: 0;
        /*grid-column: 3;*/
        /*padding: 2vh 25vh 0vh 25vh;*/
    }
    .admin_login_text {
        font-size: 2em;
    }
}